@model we_sessions_prac.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=deivce-width" />
    <link rel="stylesheet" href="~/Bootstrap/bootstrap.css" type="text/css" />
</head>
<body>
    <div class="container">
        @Html.ActionLink("Log Out", "Logout", "User", null, new { @class = "btn btn-dark float-right", @role = "button" })

        <br /><br /><hr />
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(x => x.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.Salary, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.Age, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.HireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.HireDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.HireDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Department.DempartmentID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Department.DempartmentID, (List<SelectListItem>)ViewBag.departmentList)
                        @Html.ValidationMessageFor(x => x.Department.DempartmentID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-dark" />

                    </div>
                </div>
            </div>


        }
        <p>@ViewBag.successMsg</p>
        <hr />
        @Html.ActionLink("Back to Main Page", "Index", "Employee", null, new { @class = "btn btn-dark", @role = "button" })

    </div>
    <br />
</body>
</html>
